* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}
:root {
    /* farver */
    --primaryColor: #ff7f50;
    --secondaryColor:#0c398b;
    --tritiaryColor:#efe9e7;
    --grey900:#051635;
    --grey800:#0f2349;
    --grey700:#30456c;
    --grey600:#4e638a;
    --grey500:#6b7fa4;
    --grey400:#95a6c6;
    --grey300:#c1cee7;
    --grey200:#d9e5fc;
    --grey100:#f0f5ff;
    --lightBlue:#225bc4;
    --darkBlue:#052767;
    --lightCoral:#ff8f66;
    --darkCoral:#a3502f;
    --lightIsabeline:#fef8f6;
    --darkIsabeline:#d8c6c0;
    --white:#ffffff;

    /* font størrelser */
    --h1FontSize: 48px;
    --h2FontSize: 36px;
    --h3FontSize: 24px;
    --pFontSize: 18px;
    --buttonFontSize: 22px;
    --captionFontSize: 14px;
    --higlightFontSize: 30px;
    --titleFontSize: 20px;

    /* spacers */
    --marginLeftRight: 1.5rem;

    --smSpacer: 1rem;
    --mdSpacer: 2rem;
    --lgSpacer: 3rem;
    --TnSpacer: 0.5rem;
}
.primaryButton{
    color: var(--white);
    background-color: var(--primaryColor);
    border: transparent;
    padding: 17px;
    border-radius: 10px;
    font-size: var(--buttonFontSize);
    min-width: 141px;
}
.secondaryButton{
    color: var(--secondaryColor);
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    padding: 17px;
    border-radius: 10px;
    font-size: var(--buttonFontSize);
    min-width: 141px;
}
.tertiaryButton{
    color: var(--white);
    background-color: var(--secondaryColor);
    border: transparent;
    padding: 17px;
    border-radius: 10px;
    font-size: var(--buttonFontSize);
    min-width: 141px;
}


/* active class */
.active {
    text-decoration: underline var(--primaryColor) 3px;
}

/* nav styling */
.navBar{
box-shadow: 0px 4px 11px 0px var(--grey900);
padding: 1rem;
position: sticky;

}
.navLogo{
    width: 100px;
    height: 100px;
}
.searchIcon{
    width: 48px;
    height: 48px;
    padding-top: 30px;

}
.navBar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBar a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--grey900);
    padding-top: 40px;
    font-size: var(--h3FontSize);
}
.navBar a:hover{
    text-decoration: underline var(--primaryColor) 3px;
}
/* opskriftCard */
.opskriftCard{
    box-shadow: 0px 4px 11px 0px var(--grey900);
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--white);
    margin-bottom: var(--mdSpacer);
    max-width: fit-content;
}
.ratingOgTime{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ratingOgTime p{
    padding-top: var(--TnSpacer);
    font-size: var(--pFontSize);
    color: var(--grey600);
}
.chefInfo{
    padding-top: var(--TnSpacer);
}
.chefCardInfo{
    display: flex;
    flex-direction: row;
    gap: var(--smSpacer);
    margin-top: var(--smSpacer);
}
.chefSlider>div{
    display: flex;
    justify-content: space-evenly;
}
.chefSlider>figure{
    display: flex;
    justify-content: center;
    gap: var(--smSpacer);
}

/* productcard */
.productCard{

    max-width: 20.825rem;
    margin: 0;
}
.productCard h3{
    font-size: var(--h3FontSize);
    padding-top: var(--smSpacer);
    padding-bottom: var(--TnSpacer);
    margin: 0;
}
.productCard h3, p{
    padding-left: var(--TnSpacer);
}
.productBeskrivelse{
    color: var(--white);
    background-color: var(--lightBlue);
    margin: 0;
}
.productsSection{
        display: flex;
        justify-content: space-evenly;

}