@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;

    font-family: 'Roboto', sans-serif;
}
main{
    margin-left: 24px;
        margin-right: 24px;
        margin-top: 48px;
        margin-bottom: 0;
}

body{
    margin: 0;
}
:root {
    /* farver */
    --primaryColor: #ff7f50;
    --secondaryColor:#0c398b;
    --tritiaryColor:#efe9e7;
    --grey900:#051635;
    --grey800:#0f2349;
    --grey700:#30456c;
    --grey600:#4e638a;
    --grey500:#6b7fa4;
    --grey400:#95a6c6;
    --grey300:#c1cee7;
    --grey200:#d9e5fc;
    --grey100:#f0f5ff;
    --lightBlue:#225bc4;
    --darkBlue:#052767;
    --lightCoral:#ff8f66;
    --darkCoral:#a3502f;
    --lightIsabeline:#fef8f6;
    --darkIsabeline:#d8c6c0;
    --white:#ffffff;

    /* font størrelser */
    --h1FontSize: 48px;
    --h2FontSize: 36px;
    --h3FontSize: 24px;
    --pFontSize: 18px;
    --buttonFontSize: 22px;
    --captionFontSize: 14px;
    --higlightFontSize: 30px;
    --titleFontSize: 20px;

    /* spacers */
    --marginLeftRight: 1.5rem;

    --smSpacer: 1rem;
    --mdSpacer: 2rem;
    --lgSpacer: 3rem;
    --TnSpacer: 0.5rem;
}
.primaryButton{
    color: var(--white);
    background-color: var(--primaryColor);
    border: transparent;
    padding: 17px;
    border-radius: 10px;
    font-size: var(--buttonFontSize);
    min-width: 141px;
}
.primaryButton:hover{
    background-color: var(--lightCoral);
    transition: ease-in-out 0.1s;
    cursor: pointer;
}
.secondaryButton{
    color: var(--secondaryColor);
    background-color: transparent;
    border: 1px solid var(--secondaryColor);
    padding: 17px;
    border-radius: 10px;
    font-size: var(--buttonFontSize);
    min-width: 141px;
}
.secondaryButton:hover{
    background-color: var(--secondaryColor);
    color: var(--white);
    transition: ease-in-out 0.1s;
}
.tertiaryButton{
    color: var(--white);
    background-color: var(--secondaryColor);
    border: transparent;
    padding: 17px;
    border-radius: 10px;
    font-size: var(--buttonFontSize);
    min-width: 141px;
}
.tertiaryButton:hover{
    background-color: var(--darkBlue);
    transition: ease-in-out 0.1s;
    cursor: pointer;
}


/* active class */
.active {
    text-decoration: underline var(--primaryColor) 3px;
}

/* nav styling */
.navBar{
box-shadow: 0px 2px 4px 0px var(--grey800);
padding: 1rem;
position: sticky;
background-color: var(--tritiaryColor);
}


.navLogo{
    width: 100px;
    height: 100px;
    padding-left: var(--mdSpacer);
}
.searchIcon{
    width: 48px;
    height: 48px;
    padding-top: 30px;
    padding-right: var(--mdSpacer);
    color: var(--lightIsabeline);

}
.navBar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navBar a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--grey900);
    padding-top: 40px;
    font-size: var(--h3FontSize);
}

.navBar a:hover{
    text-decoration: underline var(--primaryColor) 3px;
}
/* underline */
.trendingFoodstories h3{
    text-decoration: underline var(--grey900) 3px;
    text-align: center;
    font-size: var(--h3FontSize);
    font-weight: normal;
    margin-top: 0;
    padding: 0;
    
}

/* tip card styling */

.tipContainer{
    width: 333px;
    height: 324px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tipContainer h2{
    margin: 0;
}

.tipContainer p:nth-of-type(1){
    font-size: var(--titleFontSize);
    color: var(--white);
}

.tipContainer p:nth-of-type(2){
    font-size: var(--titleFontSize);
    color: var(--primaryColor);
}

.chefKomponent{
    display: grid;
    grid-template-columns: 0.5fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    padding-bottom: 16px;
}

.tipContainer .chefKomponent p:nth-of-type(1){
    grid-column: 2/2;
    grid-row: 1/1;
    margin: 0;
}

.tipContainer .chefKomponent p:nth-of-type(2){
    grid-column: 2/2;
    grid-row: 2/2;
    margin: 0;
}

.tipContainer h2{
    margin-bottom: 8px;
}

.tipContainer img{
    width: 287px;
    height: 166px;
    border-radius: 10px;  
}

.tipContainer .chefKomponent img{
    border-radius: 50%;
    width: 59px;
    height: 59px;
    object-fit: fill;
    grid-column: 1/1;
    grid-row: 1/3;
    margin-right: 10px; 
}

.multipleTips{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: var(--lgSpacer);
}

/* kommentar card styling */

.kommentarCard{
    width: 450px;
    height: 243px;
    background-color: var(--grey300);
    border-radius: 10px;
}

.kommentarCard .chefCardInfo img{
    width: 59px;
    height: 59px;
}

.kommentarCard .chefInfo a{
    color: white;
    text-decoration: none;
    margin: 0;
}

.kommentarCard .chefInfo p{
    color: var(--primaryColor);
    margin: 0;
    padding: 0;
}

.kommentarCard img{
    color: var(--primaryColor);
    width: 150px;
    height: 25px;
    margin-left: var(--lgSpacer);
}

.kommentarCard p{
margin-left: var(--lgSpacer); 
margin-right: var(--lgSpacer);
}

.kommentarCard .chefCardInfo {
    display: flex;
    flex-direction: row;
    gap: var(--smSpacer);
    padding-top: var(--smSpacer);
    padding-bottom: var(--smSpacer);
}

/* kommentar card small */

.kommentarCardSmall{
    background-color: var(--grey300);
    width: 450px ;
    height: 131px;
    border-radius: 10px;
}

.kommentarCardSmall img{
    color: var(--primaryColor);
    width: 150px;
    height: 25px;
    margin-left: var(--lgSpacer);
}

.kommentarCardSmall .chefCardInfo img{
    width: 59px;
    height: 59px;
}

.kommentarCardSmall .chefCardInfo{
    display: flex;
    flex-direction: row;
    gap: var(--smSpacer);
    padding-top: var(--smSpacer);
}

.kommentarCardSmall .chefInfo{
    padding-top: var(--TnSpacer);
}

.kommentarCardSmall .chefInfo a{
    color: white;
    text-decoration: none;
}

.kommentarCardSmall .chefInfo p{
    color: var(--primaryColor);
    padding: 0;
}

/* opskriftCard */
.opskriftCard{
    border: 1px solid var(--grey900);
    border-radius: 20px;
    padding: 1rem;
    background-color: var(--white);
    margin-bottom: var(--mdSpacer);
    max-width: fit-content;
}
.ratingOgTime{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.ratingOgTime p{
    padding-top: var(--TnSpacer);
    font-size: var(--pFontSize);
    color: var(--grey600);
    margin: 0;
}
.chefInfo{
    padding-top: var(--TnSpacer);
}

.chefInfo a{
    color: var(--grey900);
    text-decoration: none;
}

.chefInfo p{
    color: var(--primaryColor);
    padding: 0;
    margin: 0;
}

.chefCardInfo{
    display: flex;
    flex-direction: row;
    gap: var(--smSpacer);
    margin-top: var(--smSpacer);
}
.chefSlider>div{
    display: flex;
    justify-content: space-evenly;
}
.opskriftCard:hover{
    background-color: var(--grey100);
    box-shadow: 2px 3px 3px 0 grey;

}
.chefSlider>figure{
    display: flex;
    justify-content: center;
    gap: var(--smSpacer);
}

.chefSlider{
    background-color: var(--tritiaryColor);
    padding-top: var(--mdSpacer);
    padding-bottom: var(--smSpacer);
    margin-bottom: var(--lgSpacer);
}

/* productcard */
.productCard{

    max-width: 20.825rem;
    margin: 0;
}
.productCard h3{
    font-size: var(--h3FontSize);
    padding-top: var(--smSpacer);
    padding-bottom: var(--TnSpacer);
    margin: 0;
}
.productCard h3, p{
    padding-left: var(--TnSpacer);
}
.productBeskrivelse{
    color: var(--white);
    background-color: var(--lightBlue);
    margin: 0;
}
.productsSection{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10rem;

}


/*foodStorieCard*/

.foodStorieCard{
    width: 450px;
    background-color: var(--tritiaryColor);
    border-radius: 10px;
}

.foodStorieCard img{
    width: 420px;
    padding: 11px 15px 10px;
}

.foodStorieCard h3{
    padding: 0px 15px 7px;
    font-size: var(--h3FontSize);
}

.foodStorieCard p{
    padding: 0px 15px 7px;
}

/*ops small profil*/
.smallprofilposter{
   display: grid;
   grid-template-columns: auto auto;
   max-width: 240px;
   align-items: center;
   padding: 0 15px 20px;
}
.smallprofilposter img{
    width: 55px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 0 var(--grey900);
    padding: 0;
    grid-area: 1 / 1/ span 2;
}

.smallprofilposter p{
    font-size: var(--pFontSize);
    padding: 0;
}

.smallProfession{
    color: var(--darkCoral);
}

/* welcome message */

.welcomeContainer img{
    width: 687px;
    height: 454px;
}

.welcomeContainer{
    display: flex;
    justify-content: space-evenly;
}

.welcomeContainer hr{
    margin-right: 120px;
}

.welcomInfo{
    margin-left: 20px;
}

.welcomInfo h1{
    color: var(--grey900);
    font-size: var(--h1FontSize);
    font-weight:normal ;
    margin: 0;
}

.welcomInfo p{
    color: var(--grey900);
    font-size: var(--pFontSize);
    width: 65ch;
    padding-bottom: var(--smSpacer);
    margin-top: 0;
}

.welcomInfo div p{
    color: var(--grey800);
    font-size: 22px;
    font-style: italic;
}

.welcomInfo button{
    margin-left: 500px;
}

/* trending food stories */

#trendingNow{
    font-size: 27px;
    color: var(--grey800);
    margin-left: 120px;
    padding: 0;
    margin-top: var(--mdSpacer);
    margin-bottom: 0;
}


.trendingFoodstories h2{
    text-align: center;
    font-size: var(--h2FontSize);
    font-weight: normal;
    margin-top: 0;
    padding: 0;
}

.trendingContainer .smallprofilposter p{
    margin: 0;
}

.trendingContainer{
    display: flex;
    justify-content: space-evenly;
}

.trendingFoodstories button{
    display: flex;
    justify-content: center;
}

.foodstoryButton{
    display: flex;
    justify-content: center;
    margin-top: var(--mdSpacer);
    margin-bottom: var(--lgSpacer);
}

/* styling til trending recipies */

.chefSlider h2{
    font-size: var(--h2FontSize);
    text-align: center;
    font-weight: normal;
}

/* recomended chef styling */


.recomendedChefsSection p{
    text-align: center;
    font-size: var(--higlightFontSize);
}

.recomendChef{
    display: flex;
    flex-direction: column;
    width: 195px;
    height: 271px;
    justify-content: center;
    align-items: center;
}

.recomendChef a{
    text-decoration: none;
    color: var(--grey900);
    font-size: var(--h3FontSize);
    margin-top: 8px;
}

.recomendChef p:nth-of-type(1){
    font-weight:lighter;
    font-size: 22px;
    color: var(--grey900);
    margin: 0;
    padding: 0;
}

.recomendedChefContainer{
    display: flex;
    justify-content: center;
    gap: var(--mdSpacer);
}

/* recipies page styling */

.recipieTitle{
    font-size: var(--h1FontSize);
    text-align: center;
    margin-top: 0;
}

.recipeInfo{
    display: flex;
}

.recipieIcon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.chefCardContainer{
    display: flex;
    align-items: center;
}

.chefInfoRecipie a{
    color: var(--grey900);
    font-size: var(--h3FontSize);
    text-decoration: none;
    margin-left: var(--smSpacer);
}

.chefInfoRecipie p{
    color: var(--primaryColor);
    font-size: var(--titleFontSize);
}

.recipieIntro{
    width: 80ch;
    font-size: var(--pFontSize);
}

#recipieImg img{
    width: 50vw;
}

.recipieResume{
    margin-top: 4rem;
}

.recipeExecution{
    display: flex;
    justify-content: space-between;
}

.recipeExecution ul{
    border: 1px solid var(--grey900);
    list-style-type: none;
    padding: var(--mdSpacer);
}

.recipeExecution ul li{
    font-size: var(--pFontSize);
    padding-bottom: 8px;
}

.recipeExecution ol li{
    width: 70ch;
    font-size: var(--pFontSize);
    padding-bottom: 8px; 
    margin-right: 50px;
}

.tipWrapper h3{
    font-size: var(--h3FontSize);
    text-align: center;
    font-weight: normal;
}

.chefkommentarContainer h3{
    text-align: center;
    font-size: var(--h3FontSize);
    font-weight: normal;
}

.chefkommentarContainer input{
    width: 568px;
    height: 64px;
    border-radius: 10px;
    border-color: var(--grey900);
    font-size: var(--pFontSize);
    margin-left: 10rem;
}

.shareKommentar{
    display: flex;
    flex-direction: column;
}

.shareKommentar h3{
    font-size: var(--h3FontSize);
    font-weight: normal;
    color: var(--grey900);
}

.shareKommentar img{
    width: 335px;
    height: 64px;
}

.shareKommentar input{
    width: 564px;
    height: 194px;
    border-radius: 10px;
    border-color: var(--grey900);
    font-size: var(--pFontSize);
    margin-bottom: 8px;
}

.shareKommentar hr{
    color: var(--grey900);
    margin: 0;
    margin-top: var(--mdSpacer);
}

.shareInputButton{
    display: flex;
}

.shareInputButton button{
    margin-left: 8px;
    margin-top: 140px;
}

.kommentarPosts {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--mdSpacer);
    margin-bottom: var(--mdSpacer);
}

/* om kokken styling */
.omKokken{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--mdSpacer);
    margin-bottom: var(--lgSpacer);
}

.infoOmKokken{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}
.infoOmKokken img{
    width: 350px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 0 var(--grey900);
    margin-bottom: var(--mdSpacer);
}
.infoOmKokken h2{
    font-size: var(--h2FontSize);
    text-align: center;
    font-weight: normal;
}
.infoOmKokken p{
    font-size: var(--pFontSize);
    text-align: center;
    color: var(--grey800);
    line-height: 1.5;
    margin-left: var(--lgSpacer);
    margin-right: var(--lgSpacer);
    margin-top: 0;
}
.infoOmKokken h3{
    font-size: var(--h3FontSize);
    text-align: center;
    font-weight: normal;
    margin-bottom: var(--tnSpacer);
}
.infoOmKokken a{
    text-decoration: none;
    color: var(--grey900);
    font-size: var(--captionFontSize);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.orange{
    color: var(--primaryColor);
    text-decoration: underline var(--primaryColor) 2px;
}


.chefArbejdspladser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--lgSpacer);
}
.chefArbejdspladser a{
    color: var(--grey500);
    font-size: var(--pFontSize);
    margin-bottom: var(--TnSpacer);

}
.chefArbejdspladser h3{
    font-size: 19px;
    text-decoration: underline var(--grey900) 2px;
    color: var(--grey700);
    margin-bottom: var(--TnSpacer);
}

/* footer */
footer{
    background-color: var(--tritiaryColor);
    color: var(--grey900);
    padding: var(--mdSpacer);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20rem;

}

.footerLinks a {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--grey900);
    text-decoration: none;
    font-size: var(--pFontSize);
}
footer a:hover{
    text-decoration: underline var(--primaryColor) 3px;
}
footer p{
    font-size: var(--pFontSize);
    display: flex;
    justify-content: center;
}

/*Foodstory*/

#foodstoryIntro{
    display: flex;
}

#foodIntroBillede{
    width: 700px;
    margin: 50px 28px;
}

.smallprofil{
   display: grid;
   grid-template-columns: auto auto;
   max-width: 240px;
   align-items: center;
   padding: 0 15px 20px;
}

.smallprofil img{
    width: 55px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 0 var(--grey900);
    padding: 0;
    grid-area: 1 / 1/ span 2;
    margin-left: 0;
}

#foodstoryIntroText{
    flex-direction: column;
    margin-top: 50px;
}
#foodstoryIntroText p{
    max-width: 70ch;
    font-size: var(--pFontSize);
}

#foodstoryIntroText h2{
    font-size: var(--h2FontSize);
    text-decoration: underline;
    padding-bottom: 20px;
    font-weight: normal;
}

#foodstoryPartOne{
    display: flex;
    flex-direction: column;
}

#foodstoryPartOne h3{
    text-decoration: underline;
    font-size: var(--h3FontSize);
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

#foodstoryPartOne p{
    align-self: center;
    font-size: var(--pFontSize);
    font-weight: normal;
    line-height: 1.6;
}

#foodstoryPartTwo{
    display: flex;
    justify-content: space-between;
}

.foodstoryPartTwoText p{
    max-width: 70ch;
    font-size: var(--pFontSize);
    margin: 0;
    padding: 0;
}

.foodstoryPartTwoRecipe{
    display: flex;
    flex-direction: column;
    background-color: var(--secondaryColor);
    color: white;
}

.foodstoryPartTwoRecipe p{
    max-width: 45ch;
    font-size: var(--pFontSize);
    margin-left: var(--smSpacer);
    margin-right: var(--smSpacer);
    line-height: 1.6;
    padding-bottom: var(--smSpacer);
}

.foodstoryPartTwoRecipe h3{
    text-decoration: underline;
    font-size: var(--h3FontSize);
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.foodstoryPartTwoRecipe img{
    width: 435px;
    align-self: center;
}

.foodstoryPartThree{
    display: flex;
}

.foodstoryPartThree img{
    width: 500px;
}

.foodstoryPartThree p{
    max-width: 110ch;
}